<div class="container">
  <div class="header">
    <h1>Eat A Burger <img src="/assets/img/cheeseburger.png"></h1>
    <p>This is Eat A Burger. Home to Great Burgers.</p>
  </div>

  <div class="row">
    <div class="card-header">
         Can I take your order?
    </div>
        <!--Create/add burger form-->
    <div class="card-body">
        <form class="create-form">
        <div class="form-group">
            <label for="burger">Place order here:</label>
            <input type="text" class="form-control" id="burgerToGo" placeholder="Name a burger here.">
        </div>
        <button type="submit">Submit</button>
        </form>
    </div>

  <div class="row">
    <div class="card-header">Burgers</div>
    <!--Div to hold burgers that have not been devoured yet-->
    <div class="card-body">
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burger-block devour=false}}
            {{/unless}}
        {{/each}}
    </div>

    <div class="row">
      <div class="card-devoured">
        <div class="card-header">
         Devoured burgers
        </div>
        <!--When a burger has been devoured, put burger here-->
        <div class="card-body">
          {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-devoured devour=true}}
              {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  